openapi: 3.1.0
info:
  title: Owl API
  version: 0.1.0
servers:
  - url: https://yageun.pro
    description: prod server
  - url: http://127.0.0.1:8000
    description: dev server
paths:
  /api/auth/oauth/google:
    get:
      tags:
        - auth
      summary: Auth Oauth Google
      description: "\uAD6C\uAE00 oauth req, ref \uAC12\uC73C\uB85C redirect \uB420\
        \ \uD398\uC774\uC9C0 \uC124\uC815 \uAC00\uB2A5"
      operationId: auth_oauth_google_api_auth_oauth_google_get
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: ref
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: Ref
      responses:
        '307':
          description: Successful Response
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
  /api/auth/callback/google:
    get:
      tags:
        - auth
      summary: Auth Callback Google
      description: "\uAD6C\uAE00 oauth callback (server-side)"
      operationId: auth_callback_google_api_auth_callback_google_get
      responses:
        '307':
          description: Successful Response
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
      security:
        - AccessToken: []
        - RefreshToken: []
  /api/auth/dev/signup:
    post:
      tags:
        - auth
      summary: Auth Signup
      description: "\uD68C\uC6D0\uAC00\uC785"
      operationId: auth_signup_api_auth_dev_signup_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthSignUpRQ'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSignUpRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
        '400':
          description: Multiple Errors
          content:
            application/json:
              examples:
                ErrEmailDuplicated:
                  summary: ErrEmailDuplicated
                  description: default='When email is duplicated'
                  value:
                    errorId: ErrEmailDuplicated
                    message: Detail information
      security:
        - AccessToken: []
        - RefreshToken: []
  /api/auth/dev/signin:
    post:
      tags:
        - auth
      summary: Auth Signin
      description: "\uB85C\uADF8\uC778"
      operationId: auth_signin_api_auth_dev_signin_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthSignInRQ'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthSignInRO'
        '401':
          description: Multiple Errors
          content:
            application/json:
              examples:
                ErrLoginValidation:
                  summary: ErrLoginValidation
                  description: default='When login information is not valid'
                  value:
                    errorId: ErrLoginValidation
                    message: Detail information
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
      security:
        - AccessToken: []
        - RefreshToken: []
  /api/appointment:
    post:
      tags:
        - appointment
      summary: Appointment Add
      description: "\uC57D\uC18D \uCD94\uAC00"
      operationId: appointment_add_api_appointment_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentAddRQ'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
      security:
        - AccessToken: []
        - RefreshToken: []
  /api/appointment/list:
    get:
      tags:
        - appointment
      summary: Appointment List
      description: "\uC57D\uC18D list\n\n            [\uC0AD\uC81C \uC57D\uC18D\uC740\
        \ \uBCF4\uC774\uC9C0 \uC54A\uC74C]\n\n            \uC815\uB82C \uC21C\uC11C\
        : \uBBF8\uD655\uC815 / \uD655\uC815 \uC21C\uC11C\uB300\uB85C\n\n         \
        \   \uC644\uB8CC \uAE30\uC900: time (\uD655\uC815\uC2DC\uAC04) \uAE30\uC900\
        \ \uC624\uB298 \uC774\uC804 \uB0A0\uC9DC[KST]\n\n            [\uBBF8\uD655\
        \uC815]: created_at \uAE30\uC900 \uAC00\uC7A5 \uCD5C\uADFC\uC5D0 \uB9CC\uB4E0\
        \ \uC57D\uC18D\uC774 \uB9E8\uC704\uB85C\n\n            [\uD655\uC815]: time\
        \ (\uD655\uC815\uC2DC\uAC04) \uAE30\uC900 \uC784\uBC15\uD55C \uC57D\uC18D\uBD80\
        \uD130\n\n            [\uC644\uB8CC]: time (\uD655\uC815\uC2DC\uAC04) \uAE30\
        \uC900 \uB9C8\uC9C0\uB9C9\uC5D0 \uC218\uD589\uD55C \uC57D\uC18D\uBD80\uD130"
      operationId: appointment_list_api_appointment_list_get
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: type
          in: query
          required: true
          schema:
            enum:
              - DRAFT
              - CONFIRM
              - DONE
              - CANCEL
              - DELETE
            type: string
            title: Type
        - name: page_token
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: Page Token
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: 'null'
            default: 10
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentListRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
  /api/appointment/{id}:
    get:
      tags:
        - appointment
      summary: Appointment Info
      description: "\uC57D\uC18D \uC138\uBD80 \uC815\uBCF4 \uAC00\uC838\uC624\uAE30"
      operationId: appointment_info_api_appointment__id__get
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
    patch:
      tags:
        - appointment
      summary: Appointment Edit
      description: "\uC57D\uC18D \uC218\uC815 (\uD0A4\uC6CC\uB4DC, \uC7A5\uC18C \uB4F1\
        ..)"
      operationId: appointment_edit_api_appointment__id__patch
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentEditRQ'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
        '400':
          description: Multiple Errors
          content:
            application/json:
              examples:
                ErrAlreadyConfirmed:
                  summary: ErrAlreadyConfirmed
                  description: default='When appointment already confirmed'
                  value:
                    errorId: ErrAlreadyConfirmed
                    message: Detail information
    delete:
      tags:
        - appointment
      summary: Appointment Delete
      description: "\uC57D\uC18D \uC0AD\uC81C"
      operationId: appointment_delete_api_appointment__id__delete
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
  /api/appointment/{id}/share:
    get:
      tags:
        - appointment
      summary: Appointment Share Url
      description: "\uC57D\uC18D \uACF5\uC720 URL \uAC00\uC838\uC624\uAE30"
      operationId: appointment_share_url_api_appointment__id__share_get
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: string
                format: uri
                minLength: 1
                title: Response Appointment Share Url Api Appointment  Id  Share Get
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
  /api/appointment/{id}/join:
    post:
      tags:
        - appointment
      summary: Appointment Join
      description: "\uC57D\uC18D \uCC38\uAC00"
      operationId: appointment_join_api_appointment__id__join_post
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
        '400':
          description: Multiple Errors
          content:
            application/json:
              examples:
                ErrAlreadyConfirmed:
                  summary: ErrAlreadyConfirmed
                  description: default='When appointment already confirmed'
                  value:
                    errorId: ErrAlreadyConfirmed
                    message: Detail information
  /api/appointment/{id}/join/nonmember:
    post:
      tags:
        - appointment
      summary: Appointment Join Nonmember
      description: "\uC57D\uC18D \uCC38\uAC00"
      operationId: appointment_join_nonmember_api_appointment__id__join_nonmember_post
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JoinNonmemberRQ'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppointmentRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
        '400':
          description: Multiple Errors
          content:
            application/json:
              examples:
                ErrAlreadyConfirmed:
                  summary: ErrAlreadyConfirmed
                  description: default='When appointment already confirmed'
                  value:
                    errorId: ErrAlreadyConfirmed
                    message: Detail information
  /api/appointment/{id}/recommend:
    get:
      tags:
        - appointment
      summary: Appointment Get Recommend
      description: "\uC57D\uC18D \uCD94\uCC9C \uC2DC\uAC04 \uAC00\uC838\uC624\uAE30"
      operationId: appointment_get_recommend_api_appointment__id__recommend_get
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
                  format: date-time
                title: Response Appointment Get Recommend Api Appointment  Id  Recommend
                  Get
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
        '400':
          description: Multiple Errors
          content:
            application/json:
              examples:
                ErrAlreadyConfirmed:
                  summary: ErrAlreadyConfirmed
                  description: default='When appointment already confirmed'
                  value:
                    errorId: ErrAlreadyConfirmed
                    message: Detail information
  /api/appointment/{id}/confirm:
    post:
      tags:
        - appointment
      summary: Appointment Confirm
      description: "\uC57D\uC18D \uD655\uC815"
      operationId: appointment_confirm_api_appointment__id__confirm_post
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppointmentConfirmRQ'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
        '400':
          description: Multiple Errors
          content:
            application/json:
              examples:
                ErrAlreadyConfirmed:
                  summary: ErrAlreadyConfirmed
                  description: default='When appointment already confirmed'
                  value:
                    errorId: ErrAlreadyConfirmed
                    message: Detail information
  /api/calendar/schedule:
    post:
      tags:
        - calendar
      summary: Calendar Schedule Add
      description: "\uC77C\uC815 \uCD94\uAC00"
      operationId: calendar_schedule_add_api_calendar_schedule_post
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ScheduleAddRQ'
        required: true
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
      security:
        - AccessToken: []
        - RefreshToken: []
  /api/calendar/schedule/{id}:
    get:
      tags:
        - calendar
      summary: Calendar Schedule Info
      description: "\uC77C\uC815 \uC138\uBD80 \uC815\uBCF4"
      operationId: calendar_schedule_info_api_calendar_schedule__id__get
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Schedule'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
    delete:
      tags:
        - calendar
      summary: Calendar Schedule Delete
      description: "\uC77C\uC815 \uC0AD\uC81C"
      operationId: calendar_schedule_delete_api_calendar_schedule__id__delete
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
  /api/calendar/schedule/list:
    get:
      tags:
        - calendar
      summary: Calendar Schedule List
      description: "\uC804\uCCB4 \uC77C\uC815 \uB9AC\uC2A4\uD2B8"
      operationId: calendar_schedule_list_api_calendar_schedule_list_get
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: start
          in: query
          required: true
          schema:
            type: string
            format: date-time
            title: Start
        - name: end
          in: query
          required: true
          schema:
            type: string
            format: date-time
            title: End
        - name: page_token
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: 'null'
            title: Page Token
        - name: limit
          in: query
          required: false
          schema:
            anyOf:
              - type: integer
              - type: 'null'
            default: 10
            title: Limit
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ScheduleListRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
  /api/calendar/sync:
    post:
      tags:
        - calendar
      summary: Calendar Sync
      description: "\uC218\uB3D9\uC73C\uB85C \uC5F0\uB3D9 \uACC4\uC815 \uC5C5\uB370\
        \uC774\uD2B8 \uC694\uCCAD"
      operationId: calendar_sync_api_calendar_sync_post
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
      security:
        - AccessToken: []
        - RefreshToken: []
  /api/location:
    get:
      tags:
        - location
      summary: Location Get
      operationId: location_get_api_location_get
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: q
          in: query
          required: true
          schema:
            type: array
            items:
              type: string
            minItems: 1
            title: Q
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Location'
                title: Response Location Get Api Location Get
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
  /api/user/me:
    get:
      tags:
        - user
      summary: User Me
      description: "\uB0B4 \uC815\uBCF4 \uAC00\uC838\uC624\uAE30"
      operationId: user_me_api_user_me_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserMeRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
      security:
        - AccessToken: []
        - RefreshToken: []
  /api/user/account:
    get:
      tags:
        - user
      summary: User Account
      description: "\uC5F0\uB3D9\uB41C \uACC4\uC815 \uAC00\uC838\uC624\uAE30"
      operationId: user_account_api_user_account_get
      security:
        - AccessToken: []
        - RefreshToken: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserAccountRO'
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
    post:
      tags:
        - user
      summary: User Add Account
      description: "\uACC4\uC815 \uCD94\uAC00 \uC5F0\uB3D9"
      operationId: user_add_account_api_user_account_post
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: type
          in: query
          required: true
          schema:
            enum:
              - google
            const: google
            type: string
            title: Type
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
  /api/user/account/{id}:
    post:
      tags:
        - user
      summary: User Verify Account
      description: "\uACC4\uC815 \uC7AC\uC778\uC99D"
      operationId: user_verify_account_api_user_account__id__post
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
    delete:
      tags:
        - user
      summary: User Delete Account
      description: "\uACC4\uC815 \uC5F0\uB3D9 \uD574\uC81C"
      operationId: user_delete_account_api_user_account__id__delete
      security:
        - AccessToken: []
        - RefreshToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
            format: uuid
            title: Id
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '401':
          description: Authentication Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrAuthFail'
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrValidationFail'
        '500':
          description: Unexpected Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrUnexpected'
components:
  schemas:
    AbstractAppointment:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: "\uC57D\uC18D \uC2DD\uBCC4\uC790"
        organizer_id:
          type: string
          format: uuid
          title: Organizer Id
          description: "\uC57D\uC18D \uC8FC\uCD5C\uC790"
        title:
          type: string
          title: Title
          description: "\uC57D\uC18D \uC774\uB984"
          examples:
            - "\uC57D\uC18D \uC608\uC81C"
        location:
          allOf:
            - $ref: '#/components/schemas/Location'
          description: "\uC7A5\uC18C"
        status:
          type: string
          enum:
            - DRAFT
            - CONFIRM
            - DONE
            - CANCEL
            - DELETE
          title: Status
          description: "\uC57D\uC18D \uC0C1\uD0DC"
        confirmTime:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
          title: Confirmtime
          description: "\uCD5C\uC885 \uD655\uC815\uB41C \uC2DC\uAC04, CONFIRM/DONE\
            \ \uC0C1\uD0DC\uC5D0\uB9CC \uC874\uC7AC"
        headCount:
          type: integer
          title: Headcount
          description: "\uCC38\uAC00\uD558\uB294 \uC778\uC6D0 \uC218"
      type: object
      required:
        - id
        - organizer_id
        - title
        - location
        - status
        - confirmTime
        - headCount
      title: AbstractAppointment
    Account:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: "\uACC4\uC815 \uC2DD\uBCC4\uC790"
        type:
          type: string
          enum:
            - GOOGLE
            - OWL
          title: Type
          description: "\uACC4\uC815 \uC885\uB958 [\uAD6C\uAE00, \uC790\uCCB4]"
        email:
          type: string
          format: email
          title: Email
          description: "\uACC4\uC815 \uC774\uBA54\uC77C"
        status:
          type: string
          enum:
            - VALID
            - INVALID
          title: Status
          description: "\uACC4\uC815 \uC0C1\uD0DC"
      type: object
      required:
        - id
        - type
        - email
        - status
      title: Account
    AppointmentAddRQ:
      properties:
        title:
          type: string
          title: Title
          description: "\uC57D\uC18D \uC774\uB984"
          examples:
            - "\uC57D\uC18D \uC608\uC81C"
        description:
          type: string
          title: Description
          description: "\uC57D\uC18D \uC124\uBA85"
          examples:
            - "\uBB54\uAC00 \uC5C4\uCCAD\uB09C \uC124\uBA85"
        location_id:
          anyOf:
            - type: string
              format: uuid
            - type: 'null'
          title: Location Id
          description: "\uC7A5\uC18C"
        categoryList:
          items:
            type: string
          type: array
          title: Categorylist
          description: "\uCE74\uD14C\uACE0\uB9AC"
          examples:
            - - "\uAE40\uCE58"
              - "\uC22D\uC2E4\uB300"
        deadline:
          type: string
          format: date-time
          title: Deadline
          description: "\uB9C8\uAC10\uC2DC\uAC04"
      type: object
      required:
        - title
        - description
        - location_id
        - categoryList
        - deadline
      title: AppointmentAddRQ
    AppointmentConfirmRQ:
      properties:
        time:
          type: string
          format: date-time
          title: Time
          description: "\uD655\uC815\uB0A0\uC9DC"
      type: object
      required:
        - time
      title: AppointmentConfirmRQ
    AppointmentEditRQ:
      properties:
        title:
          anyOf:
            - type: string
            - type: 'null'
          title: Title
          description: "\uC57D\uC18D \uC774\uB984"
          examples:
            - "\uC57D\uC18D \uC81C\uBAA9 \uC218\uC815"
        description:
          anyOf:
            - type: string
            - type: 'null'
          title: Description
          description: "\uC57D\uC18D \uC124\uBA85"
          examples:
            - "\uC124\uBA85 \uC218\uC815"
        location_id:
          anyOf:
            - type: string
              format: uuid
            - type: 'null'
          title: Location Id
          description: "\uC7A5\uC18C"
        categoryList:
          items:
            type: string
          type: array
          title: Categorylist
          description: "\uCE74\uD14C\uACE0\uB9AC"
          examples:
            - - "\uAE40\uCE58"
              - "\uC22D\uC2E4\uB300"
      type: object
      required:
        - title
        - description
        - location_id
        - categoryList
      title: AppointmentEditRQ
    AppointmentListRO:
      properties:
        data:
          items:
            $ref: '#/components/schemas/AbstractAppointment'
          type: array
          title: Data
          description: "\uB370\uC774\uD130"
        nextToken:
          type: string
          title: Nexttoken
          description: "pagination \uC744 \uC704\uD55C token"
      type: object
      required:
        - data
        - nextToken
      title: AppointmentListRO
    AppointmentRO:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: "\uC57D\uC18D \uC2DD\uBCC4\uC790"
        organizer_id:
          type: string
          format: uuid
          title: Organizer Id
          description: "\uC57D\uC18D \uC8FC\uCD5C\uC790"
        title:
          type: string
          title: Title
          description: "\uC57D\uC18D \uC774\uB984"
          examples:
            - "\uC57D\uC18D \uC608\uC81C"
        location:
          allOf:
            - $ref: '#/components/schemas/Location'
          description: "\uC7A5\uC18C"
        status:
          type: string
          enum:
            - DRAFT
            - CONFIRM
            - DONE
            - CANCEL
            - DELETE
          title: Status
          description: "\uC57D\uC18D \uC0C1\uD0DC"
        confirmTime:
          anyOf:
            - type: string
              format: date-time
            - type: 'null'
          title: Confirmtime
          description: "\uCD5C\uC885 \uD655\uC815\uB41C \uC2DC\uAC04, CONFIRM/DONE\
            \ \uC0C1\uD0DC\uC5D0\uB9CC \uC874\uC7AC"
        description:
          type: string
          title: Description
          description: "\uC57D\uC18D \uC124\uBA85"
          examples:
            - "\uBB54\uAC00 \uC5C4\uCCAD\uB09C \uC124\uBA85"
        categoryList:
          items:
            type: string
          type: array
          title: Categorylist
          description: "\uCE74\uD14C\uACE0\uB9AC"
          examples:
            - - "\uAE40\uCE58"
              - "\uC22D\uC2E4\uB300"
        participantList:
          items:
            $ref: '#/components/schemas/Participant'
          type: array
          title: Participantlist
          description: "\uCC38\uAC00\uC790 \uB9AC\uC2A4\uD2B8"
        deadline:
          type: string
          format: date-time
          title: Deadline
          description: "\uB9C8\uAC10\uC2DC\uAC04"
      type: object
      required:
        - id
        - organizer_id
        - title
        - location
        - status
        - confirmTime
        - description
        - categoryList
        - participantList
        - deadline
      title: AppointmentRO
    AuthSignInRO:
      properties:
        access_token:
          type: string
          title: Access Token
          description: user
        refresh_token:
          type: string
          title: Refresh Token
          description: user
      type: object
      required:
        - access_token
        - refresh_token
      title: AuthSignInRO
    AuthSignInRQ:
      properties:
        email:
          type: string
          format: email
          title: Email
          description: user email
        password:
          type: string
          minLength: 6
          title: Password
          description: user password
      type: object
      required:
        - email
        - password
      title: AuthSignInRQ
    AuthSignUpRO:
      properties:
        access_token:
          type: string
          title: Access Token
          description: access token
        refresh_token:
          type: string
          title: Refresh Token
          description: refresh token
      type: object
      required:
        - access_token
        - refresh_token
      title: AuthSignUpRO
    AuthSignUpRQ:
      properties:
        email:
          type: string
          format: email
          title: Email
          description: user email
        password:
          type: string
          minLength: 6
          title: Password
          description: user password
      type: object
      required:
        - email
        - password
      title: AuthSignUpRQ
    ErrAuthFail:
      properties:
        errorId:
          type: string
          title: Errorid
          examples:
            - ErrDenied
        message:
          anyOf:
            - type: string
            - type: 'null'
          title: Message
          description: Extra Message
          examples:
            - Detail information
      type: object
      required:
        - errorId
        - message
      title: ErrAuthFail
      description: http code 401
    ErrUnexpected:
      properties:
        errorId:
          type: string
          title: Errorid
          examples:
            - ErrUnexpected
        message:
          anyOf:
            - type: string
            - type: 'null'
          title: Message
          description: Extra Message
          examples:
            - Detail information
      type: object
      required:
        - errorId
        - message
      title: ErrUnexpected
      description: http code 500
    ErrValidationFail:
      properties:
        errorId:
          type: string
          title: Errorid
          examples:
            - ErrValidationFail
        message:
          anyOf:
            - type: string
            - type: 'null'
          title: Message
          description: Extra Message
          examples:
            - Detail information
      type: object
      required:
        - errorId
        - message
      title: ErrValidationFail
      description: http code 422
    JoinNonmemberRQ:
      properties:
        username:
          type: string
          title: Username
          description: "\uC774\uB984"
        scheduleList:
          items:
            $ref: '#/components/schemas/ScheduleWithoutId'
          type: array
          title: Schedulelist
          description: "\uC77C\uC815 \uB9AC\uC2A4\uD2B8"
      type: object
      required:
        - username
        - scheduleList
      title: JoinNonmemberRQ
    Location:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: "\uC7A5\uC18C \uC2DD\uBCC4\uC790"
        title:
          type: string
          title: Title
          description: "\uC7A5\uC18C \uC774\uB984, from naver"
        address:
          type: string
          title: Address
          description: "\uC7A5\uC18C \uC8FC\uC18C, from naver"
        category:
          type: string
          title: Category
          description: "\uC7A5\uC18C \uCE74\uD14C\uACE0\uB9AC, from naver"
        position:
          items:
            type: integer
          type: array
          title: Position
          description: "\uC7A5\uC18C mapx, mapy"
      type: object
      required:
        - id
        - title
        - address
        - category
        - position
      title: Location
    Participant:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: "\uCC38\uAC00\uC790 \uC2DD\uBCC4\uC790"
        name:
          type: string
          title: Name
          description: "\uCC38\uAC00\uC790 \uC774\uB984"
      type: object
      required:
        - id
        - name
      title: Participant
    Schedule:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: "\uC77C\uC815 \uC2DD\uBCC4\uC790"
        title:
          type: string
          title: Title
          description: "\uC77C\uC815 \uC774\uB984"
        startTime:
          type: string
          format: date-time
          title: Starttime
          description: "\uC2DC\uC791\uC2DC\uAC04"
        endTime:
          type: string
          format: date-time
          title: Endtime
          description: "\uC644\uB8CC\uC2DC\uAC04"
      type: object
      required:
        - id
        - title
        - startTime
        - endTime
      title: Schedule
    ScheduleAddRQ:
      properties:
        title:
          type: string
          title: Title
          description: "\uC77C\uC815 \uC774\uB984"
        startTime:
          type: string
          format: date-time
          title: Starttime
          description: "\uC2DC\uC791\uC2DC\uAC04"
        endTime:
          type: string
          format: date-time
          title: Endtime
          description: "\uC644\uB8CC\uC2DC\uAC04"
      type: object
      required:
        - title
        - startTime
        - endTime
      title: ScheduleAddRQ
    ScheduleListRO:
      properties:
        data:
          items:
            $ref: '#/components/schemas/Schedule'
          type: array
          title: Data
          description: "\uB370\uC774\uD130"
        nextToken:
          type: string
          title: Nexttoken
          description: pagination token
      type: object
      required:
        - data
        - nextToken
      title: ScheduleListRO
    ScheduleWithoutId:
      properties:
        id:
          type: 'null'
          title: Id
        title:
          type: string
          title: Title
          description: "\uC77C\uC815 \uC774\uB984"
        startTime:
          type: string
          format: date-time
          title: Starttime
          description: "\uC2DC\uC791\uC2DC\uAC04"
        endTime:
          type: string
          format: date-time
          title: Endtime
          description: "\uC644\uB8CC\uC2DC\uAC04"
      type: object
      required:
        - id
        - title
        - startTime
        - endTime
      title: ScheduleWithoutId
    UserAccountRO:
      properties:
        accountList:
          items:
            $ref: '#/components/schemas/Account'
          type: array
          title: Accountlist
          description: "\uC5F0\uB3D9\uB41C \uACC4\uC815"
      type: object
      required:
        - accountList
      title: UserAccountRO
    UserMeRO:
      properties:
        id:
          type: string
          format: uuid
          title: Id
          description: "\uC720\uC800 \uC2DD\uBCC4\uC790"
        username:
          type: string
          title: Username
          description: "\uC774\uB984"
        email:
          type: string
          format: email
          title: Email
          description: "\uACC4\uC815 \uB300\uD45C \uC774\uBA54\uC77C (\uAC00\uC785\
            \uC2DC \uC774\uBA54\uC77C)"
      type: object
      required:
        - id
        - username
        - email
      title: UserMeRO
  securitySchemes:
    AccessToken:
      type: apiKey
      in: header
      name: access_token
    RefreshToken:
      type: apiKey
      in: header
      name: refresh_token
